<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="utf-8">
    <title>Atvinnuumsóknir</title>
    <link rel="stylesheet" href="applications.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
</head>

<main>
<h1>Atvinnuumsóknir</h1>
<% applications.forEach((application) => { %>

    <div class="titles-answers">
        <div class="div-info">
            <h3><%= application.name %></h3></div>
        <div class="div-email-phone-created">
            <div class="div-info">
                <a href="mailto:<%= application.email %>"><%= application.email %></a></div>
            <div class="div-info">
                Sími: <%= application.phone %></div>
            <div class="div-info">
                    Umsókn send: <%= application.created.toISOString() %></div>
        </div>
        <div class="div-info">
            <%= application.text %></div>
    </div>

    <div class="div-processed-delete">
        <% if(application.processed == false) { %>
            <form method="post" action="/applications/process/<%= application.id %>">
                <div class="processedbtn">
                    <button type="submit" value="<%= application.id %>" name="process" class="process">Vinna umsókn</button>
                </div>
            </form>
        <% } else { %>
            &#10004; Umsókn unnin <%= application.updated.toISOString() %>
        <% } %>
            
        <form method="post" action="/applications/delete/<%= application.id %>">
            <div class="deletebtn">
                <button type="submit" value="<%= application.id %>" name="delete" class="delete">Eyða umsókn</button>
            </div>
        </form>
    </div>
    
<% }) %>
   
</main>